$items-gutter: 10px;

#sidebar-wrapper {
  width: $sidebar-width;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  border-right: 1px solid;

  .logo {
    display: block;
    text-align: center;
    margin-bottom: $items-gutter;
    padding: $items-gutter;

    i {
      border: 2px solid green;
      border-radius: 5px;
    }
  }

  .nav-items {
    list-style: none;
    display: block;
    padding: 0;
    overflow-y: auto;
    height: 85%;

    li a {
      display: block;
      text-align: center;
      margin-bottom: $items-gutter;
    }
  }
}
